* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: #e5e8eb;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

ul.list-group > li.list-group-item {
  border: 1px solid black;
}

nav {
  background-color: #314357;
}

section {
  padding: 60px 0;
  background-color: #fff;
}

.navbar-toggler {
  background-color: #e5e8eb;
  border-color: #000;
}

div.collapse > ul > li > a {
  color: #fff;
}

h2 {
  color: #007bff;
  margin-bottom: 30px;
}

.about img {
  border: 4px solid #007bff;
}

.contact-email {
  font-size: 23px;
  letter-spacing: 1.5px;
}

.contact-email a {
  color: #000;
}

.dash {
  width: 20px;
  height: 1px;
  background-color: #000;
}

.card {
  width: 400px;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  width: auto;
  height: 250px;
  object-fit: cover;
  border: 1px solid #000;
}

.card-img-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-image-top img.img-fluid {
  height: 230px;
  object-fit: contain;
  width: 100%;
  border: 1px solid black;
}

.logo {
  width: 100px;
  height: 100px;
}
.logo img {
  width: 100%;
  height: 100%;
}
.logo-cover {
  object-fit: cover;
}
.logo-contain {
  object-fit: contain;
}

.list-group-item {
  max-width: fit-content;
}

footer {
  background: #314357;
  color: #fff;
  width: 100%;
  height: 40px;
}

#back-to-top {
  font-family: "Georgia", serif;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 2%;
  right: 2%;
  background-color: #007bff;
  padding: 0;
  border: none;
  cursor: pointer;
  z-index: 1000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
#back-to-top span {
  margin-top: 8px;
  color: white;
  font-size: 32px;
}
#back-to-top:hover {
  background-color: #0056b3;
}
#back-to-top:focus {
  outline: none;
}

@media (max-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }

  .card {
    width: 320px;
    margin: auto;
    margin-bottom: 50px;
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 998;
  display: block;
}

.modal {
  z-index: 999;
}
